<div class="bg-resume-component text-center text-white  presentation-dimension animated fadeIn fast">
  <div>
    <main id="resume-component-header">
      <h1 class="txt-resume-title-4">Silvana Romagnoli</h1>
      <p class="resume-padding txt-resume-3">"Esta es nuestra tarea hacia el niño, darle un rayo de luz y seguir nuestro camino". Maria Montessori</p>
    </main>
    <div class="resume-padding lead btn btn-sm ">
      <button mat-fab aria-label="Example icon button with a delete icon"
        class="resume-padding btn btn-lg bg-resume-btn-2" (click)="scroll()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
  </div>
</div>
<mat-card class="bg-resume-component-card example-card">
  <div id="resume-component-presentation"
    class="container mx-auto items-center flex flex-wrap resume-padding-3 animated fadeIn fast">

    <div class=" presentation-dimension-section bg-resume-img container mx-auto items-center flex flex-wrap resume-padding-3 animated fadeIn fast">
      <img class="presentation-dimension-img " src="assets/img/siluamor-yoga-1.jpg" />
    </div>
    <div class=" presentation-dimension-section bg-resume-2">
      <div class="resume-padding">
        <main class="resume-padding px-3">
          <p class="resume-padding txt-resume">La respiración Consciente🙌🏻</p>
          <p class="resume-padding txt-resume">Un ancla al momento presente.</p>
          <p class="txt-resume">
            Lo que nos ayuda a calmarnos y regular el estres.
            La conexión con nuestro mundo interior..
          </p>
          <p class="txt-resume">
            Mindfulness, Meditación, Respiración consciente.. herramientas de autogestión
          </p>
          <p class="txt-resume">
            Recordemos que cuerpo y mente están conectados. El mindfulness no solo se queda en los pensamientos o
            emociones sino que también se fija lo que pasa en el cuerpo. El movimiento cambia estados de ánimo, por
            ejemplo cuando están tristes o enojad@s.
          </p>

          <p class="txt-resume">
            Niñ@s gestionando sus emociones con estas herramientas más atent@s, más empátic@s, con vínculos más
            saludables..
          </p>
          <p class="txt-resume">Y nos aseguramos adult@s plenos y san@s.</p>
          <p class="txt-resume">¿Te imaginás?</p>
          <h1 class="txt-resume-title">Siluamor</h1>
        </main>
      </div>
    </div>

    <div class="resume-padding-2 lead btn btn-sm example-button-container col-md-3">
      <button mat-fab class="btn btn-lg bg-resume-btn" (click)="scrollInAppDetail()">
        <mat-icon>arrow_downward</mat-icon>
      </button>
    </div>
  </div>
</mat-card>

<div class="resume-padding container mx-auto items-center flex flex-wrap resume-padding animated fadeIn fast ">
  <app-detail id="resume-component-app-detail" class="presentation-dimension  animated fadeIn fast"></app-detail>
  <div class="resume-padding-2 lead btn btn-sm example-button-container col-md-3">
    <button mat-fab class="btn btn-lg bg-resume-btn" (click)="scrollInAppDetail()">
      <mat-icon>arrow_upward</mat-icon>
    </button>
  </div>
</div>