<div *ngIf="viewProfile == 0"
  class="text-center text-white  presentation-dimension resume-padding animated fadeIn fast">
  <div class="resume-padding">
    <main class="resume-padding px-3">
      <h1 class="txt-resume-title-3">Siluamor</h1>
      <p class="resume-padding txt-resume-subtitle-2">Buenas.. ¿Nos conocemos?</p>
      <p class="txt-resume-2"> Este espacio es para aprender junt@s sobre educación consciente. Una educación que nos
        acerque
        a la esencia del ser humano.
      </p>
      <p class="txt-resume-2">Vamos a aprender más sobre esto.</p>
    </main>
    <div class="resume-padding lead btn btn-sm ">
      <button mat-fab aria-label="Example icon button with a delete icon"
        class="resume-padding btn btn-lg bg-resume-btn-2" (click)="redirectActivities()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
  </div>
</div>
<div *ngIf="viewProfile == 1" class="container mx-auto items-center flex flex-wrap resume-padding animated fadeIn fast">
  <div class=" presentation-dimension-section bg-resume-2">
    <div class="resume-padding">
      <main class="resume-padding px-3">
        <p class="resume-padding txt-resume"> Quiero contarles quién soy y para qué comparto este espacio.
        </p>
        <p class="txt-resume">Mi nombre es Silvana. Entre otras cosas soy muy curiosa, me encanta indagar, saber,
          meditar, aprender y enseñar. Soy mamá de una adolescente y docente, para mí, desde que nací. </p>
        <p class="txt-resume">Mi misión y propósito en la vida es ayudar a l@s niñ@s a ser quienes quieren ser,
          guiándol@s a conectar con su mundo interno, sus emociones y sus deseos comprendiendo que son únic@s y
          valios@s. </p>
        <h1 class="txt-resume-title">Siluamor</h1>
      </main>
      <div class="resume-padding lead btn btn-sm example-button-container col-md-3">
        <button mat-fab aria-label="Example icon button with a delete icon"
          class="resume-padding btn btn-lg bg-resume-btn" (click)="redirectActivities()">
          <mat-icon>arrow_downward</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class=" presentation-dimension-section bg-light">
    <img class="presentation-dimension" src="assets/img/siluamor-yoga.jpg" alt="..." />
  </div>
</div>
<div *ngIf="viewProfile == 2" class="resume-padding container mx-auto items-center flex flex-wrap resume-padding animated fadeIn fast ">
  <button mat-fab aria-label="Example icon button with a delete icon" class="resume-padding btn btn-lg bg-resume-btn"
    (click)="redirectActivities()">
    <mat-icon>arrow_upward</mat-icon>
  </button>
  <app-detail  class="presentation-dimension  animated fadeIn fast"></app-detail>
  <button mat-fab aria-label="Example icon button with a delete icon" class="resume-padding btn btn-lg bg-resume-btn"
    (click)="redirectActivities()">
    <mat-icon>arrow_upward</mat-icon>
  </button>
</div>