<div class="text-center text-white animated fadeIn fast">
    <button mat-fab class="resume-padding btn btn-lg bg-resume-btn-2" (click)="redirectProfile()">
        <mat-icon>home</mat-icon>
    </button>
</div>
<div id="myCarousel" class="activities-dimension carousel slide animated fadeIn fast" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </svg>

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Clases de Yoga</h1>
                    <p> Mi misión y propósito en la vida es ayudar a l@s niñ@s a ser quienes quieren ser, guiándol@s a
                        conectar
                        con su mundo interno, sus emociones y sus deseos comprendiendo que son únic@s y valios@s.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Ver horarios</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </svg>

            <div class="container">
                <div class="carousel-caption">
                    <h1>Educacion emocional</h1>
                    <p>Estudié tres años Comunicación Social. Mi pasión por enseñar me llamó con fuerza, lo que entonces
                        hizo
                        que decidiera continuar mis estudios por otros rumbos. En 2007 me recibí de Profesora del Nivel
                        Primario. Desde 2014</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Inscripciones</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </svg>

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Talleres</h1>
                    <p> Confío con todo mi corazón que
                        es desde
                        el campo de la Neurociencia, la Educación Emocional fusionados con las Enseñanzas del Yoga que
                        vamos a
                        contribuír a un mundo mejor. Sueño todos los días con eso!</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Ver talleres</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="presentation-dimension-img " src="assets/img/siluamor-yoga-5.jpg" />
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Amo enseñar!</h1>
                    <p>Muchos de ustedes me comprenderan. Cuando l@s niñ@s se sienten solos, tristes, alegres, con
                        miedo.. Cuando se les cae un diente, quiero saber qué están sintiendo, qué creen de la amistad,
                        de la
                        familia, de compartir y mucho más!! Enseñar es guiar y acompañar.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Ver galeria</a></p>
                </div>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>