<h1 class="animated fadeIn fast">Vehiculos <small>registrados</small></h1>
<hr>

<div class="card text-white border-danger mb-3 animated fadeIn"  *ngIf="departamentos.length==0">
    <div class="card-header">No hay vehículos registrados </div>
    <div class="card-body text-danger">
      <h5 class="card-title">Todavía no has registrado vehiculos.</h5>
      <p class="card-text">Seleccione registar o volver al inicio.</p>
      <div class="card-body ">
        <button type="button" class="btn btn-outline-primary" style="margin-right: 25px ;">Registrar..</button>
        <button type="button" routerLink="/" class="btn btn-outline-danger ">Ir al inicio</button>
      </div>
    </div>
</div>

<div class="card-columns animated fadeIn">
    <app-departamento-card [departamento]="departamento" *ngFor="let departamento of departamentos; let id=index" ></app-departamento-card>
</div>
