<div class="d-flex h-100 text-center text-white bg-dark presentation-dimension">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <h1>Siluamor Yoga.</h1>
            <p class="lead">Buenas.. ¿Nos conocemos?</p>

            <p> Quiero contarles quién soy y para qué comparto este espacio.</p>

            <p> Mi nombre es Silvana. Entre otras cosas soy muy curiosa, me encanta indagar, saber, meditar, aprender y
                enseñar. Soy mamá de una adolescente y docente, para mí, desde que nací.
                Mi misión y propósito en la vida es ayudar a l@s niñ@s a ser quienes quieren ser, guiándol@s a conectar
                con su mundo interno, sus emociones y sus deseos comprendiendo que son únic@s y valios@s.
            </p>
            <p> Aprendo, practico y enseño el camino del Autoconocimiento, la meditación, la respiración consciente y
                Yoga.
            </p>
            <p>Estudié tres años Comunicación Social. Mi pasión por enseñar me llamó con fuerza, lo que entonces hizo
                que decidiera continuar mis estudios por otros rumbos. En 2007 me recibí de Profesora del Nivel
                Primario. Desde 2014
                Estoy en formación a través de distintos talleres y curso sobre Educación Consciente.
                Soy Diplomada en Educación Emocional con especialización en el aprendizaje.
                Formándome en el Instructorado de Yoga para niñ@s y adoloescentes. </p>
            <p> Amo enseñar. Muchos de ustedes me comprenderan. Cuando l@s niñ@s se sienten solos, tristes, alegres, con
                miedo.. Cuando se les cae un diente, quiero saber qué están sintiendo, qué creen de la amistad, de la
                familia, de compartir y mucho más!! Enseñar es guiar y acompañar.
            </p>
            <p> Muchas veces me sentí una especie de pulpo social. Teniendo que intervenir en campos que desconocía.
                Pero lo que me di cuenta en los años de recorrido en busca de respuestas, y usando estrategias de
                educación emocional sin saberlo, es que somos puentes para ell@s y que escuchando y atendiendo a sus
                necesidades todo cambia. Entonces tenemos que estar preparad@s. Confío con todo mi corazón que es desde
                el campo de la Neurociencia, la Educación Emocional fusionados con las Enseñanzas del Yoga que vamos a
                contribuír a un mundo mejor. Sueño todos los días con eso!
            </p>
            <p> Entonces este espacio es para aprender junt@s sobre educación consciente. Una educación que nos acerque
                a la esencia del ser humano.
            </p>
            <p> Y vamos a aprender más sobre esto.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Conocer</a>
            </p>
        </main>
    </div>
</div>