/* You can add global styles to this file, and also import other style files */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    height: 100%;
}

footer {
    min-height: 100%;
    min-width: 100%;
}

.main-container {
    margin-top: 20px;
}

.basic-container {
    padding: 30px;
}

.version-info {
    font-size: 8pt;
    float: right;
}

/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}